/* Mobile Device: */
@media screen and (max-width:576px) {
    .heading{
        font-size: 2rem;
    }
    .nav{
        padding: 30px;
    }
    .nav-links{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .banner-container{
        flex-direction: column;
        padding: 10px;
        justify-content: space-between;
    }
    .banner-img img {
        width: 100%;
    }
    .banner-title{
        text-align: left;
        font-size: 1.8rem;
    }
    .btn-primary, .btn-secondary{
        font-size: 1rem;
        font-weight: 400;
    }
    .club-hide{
        display: none;
    }
    .banner-small-tag-1{
        padding: 5px 8px;
        top: 520px;
        left: -0.01px;
    }
    .banner-small-tag-2{
        padding: 5px 18px;
        top: 330px;
        right: 20px;
    }
    .views{
        font-size: 1rem;
    }
    .habits{
        grid-template-columns: 1fr;
    }
    .running-banner-container{
        flex-direction: column;
        padding: 30px;
    }
    
    .join-now-btn-container{
        text-align: center;
    }
    .join-now-btn{
        padding: 10px 80px;
    }
    .run-img img {
        width: 300px;
        border-radius: 16px;
    }
    .cards{
        grid-template-columns: 1fr;
    }
    .card{
        width: 280px;
    }
    .card-container{
        padding: 0px;
    }
    .cal-heading{
        padding: 15px;
    }
    .calculation-container{
        width: 100%;
        padding: 0px;

        margin: 0 auto;
    }
    .BMI-chart{
        padding: 15px;
    }
    .calculate-BMI{
        padding: 15px;
    }
    .cal-content{
        grid-template-columns: 1fr;
        row-gap: 50px;
    }
    .form-container{
        max-width: 300px;
    }
    .members{
        grid-template-columns: 1fr;
    }
    .member-img img {
        width: 260px;
        height: 270px; 
    }
    .member-container{
        padding: 10px;
        margin-top: 20px;
    }
    .team-container{
        margin-top: 50px;
    }
    .footer-content{
        grid-template-columns: 1fr;
    }
    hr{
        width: 80%;
    }
    .links-section{
        flex-direction: column;
    }
    .logo-and-title{
        padding: 10px;
        text-align: center;
    }
}

/* Medium Device */
@media screen and (min-width:576px) and (max-width:992px) {
    .nav{
        padding: 50px;
    }
    .nav-links{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .banner-container{
    padding-left: 20px;
    padding-right: 20px;
    }
    .banner-small-tag-1{
        display: none;
    }
    .banner-small-tag-2{
        display: none;
    }
    .habits{
        grid-template-columns: repeat(2, 1fr);
    }
    .running-banner-container{
        gap: 10px;
        padding: 20px;
        align-items: center;
    }
    .run-img img{
        width: 300px;
    }
    .cards{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 15px;
    }
    .calculation-container{
        padding: 10px;
    }
    .cal-content{
        grid-template-columns: 1fr;
        row-gap: 50px;
    }
    .member-img img {
        width: 220px;
        height: 200px; 
    }
    .member-container{
        padding: 10px;
        margin-top: 20px;
    }
    .team-container{
        margin-top: 50px;
    }
    .footer-content{
        grid-template-columns: 1fr;
        padding-left: 50px;
        padding-right: 50px;
    }
    .logo-and-title{
        text-align: center;
    }
    .links-section{
        justify-content: space-around;
    }
    hr{
        width: 80%;
    }
}